balparda-baselib==1.9 ; python_full_version >= "3.12.11"
cffi==1.17.1 ; python_full_version >= "3.12.11" and platform_python_implementation != "PyPy"
cryptography==45.0.4 ; python_full_version >= "3.12.11"
pillow==11.2.1 ; python_full_version >= "3.12.11"
prettytable==3.16.0 ; python_full_version >= "3.12.11"
pycparser==2.22 ; python_full_version >= "3.12.11" and platform_python_implementation != "PyPy"
wcwidth==0.2.13 ; python_full_version >= "3.12.11"
