balparda-baselib==1.11 ; python_full_version >= "3.11.13"
cffi==2.0.0 ; python_full_version >= "3.11.13" and platform_python_implementation != "PyPy"
cryptography==46.0.3 ; python_full_version >= "3.11.13"
pillow==12.1.0 ; python_full_version >= "3.11.13"
prettytable==3.17.0 ; python_full_version >= "3.11.13"
pycparser==2.23 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_full_version >= "3.11.13"
wcwidth==0.2.14 ; python_full_version >= "3.11.13"
